.thumbnail.thumbnail-featured.center
  a(href="http://btcclicks.com/?r=69d1910b" target="_blank")
    img.img-responsive.img-rounded(src="http://btcclicks.com/img/rectangle.png" alt="Advertising")
  div(style="margin-top:-20px;")
    small Advertising
