.thumbnail.thumbnail-featured.center
  a(href="http://www.affiliates.cpgventures.com/aff_tools/caioribeiropereira/tool/banners/10" target="_blank")
    img.img-responsive.img-rounded(src="http://www.affiliates.cpgventures.com/images/banners/bf35bb6b6ba7aa44682f80226b2d6574.gif" alt="Advertising")
    img(src="http://www.affiliates.cpgventures.com/track/imp/banners/48_10" width="0" height="0" border="0" style="position:relative;visibility:hidden")
  div(style="margin-top:-20px;")
    small Advertising
